.playArea{
    height: 600px;
    width: 500px;
    background-color: skyblue;
    position: relative;
}

.sprite{
    position: absolute;
    background-color: red;
    height: 50px;
    width: 50px;
}